/* Modal (fondo) */
.modal {
    display: none; /*lo oculto */
    position: fixed; /* que se quede en lugar */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*Con estos 2 cambio el color de fondo*/
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal contenido */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% desde arriba y al centro */
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
  }
  
  /* Boton cerrar*/
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* FORMULARIO */
form{
    position: absolute;
    border: 3px solid coral;
    padding:30px; 
    background: white;
}
label{
    display: block;
}
input{
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    border: 1PX SOLID gray;
/* ----------------PARA QUE LAS CAJAS QUEDEN BIEN PUESTAS-------------------- */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
button{
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    border: 1PX SOLID gray;
}
/* ----------------Cuando esta en la casilla lo marca con el color------------ */
input:focus{
    border: 2px solid #166816;
}
/* ------------------------Cambio el color del enviar---------------------------- */
#enviar{
    margin-bottom: 0;
    background: #1668C4;
    color: #FFF;
    border: none;
}
#enviar:hover{
    background: #4A88F4;
}

/*Para quitar el "boton" del tipo numero que aparece en los input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}